.GameDifficulty {
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
}

.GameTimer {
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  font-size: 36px;
}

.Btn {
  border: none;
  height: 36px;
  width: 82px;
  margin: 0px 12px 0px 12px;
  border-radius: 2px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: white;
  background-color: #333333;
}

.ActiveBtn {
  border: none;
  height: 36px;
  width: 82px;
  background-color: #3d0574;
  margin: 0px 12px 0px 12px;
  border-radius: 2px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: white;
}

.Btn:hover,
.ActiveBtn:hover {
  cursor: pointer;
}

@media (max-width: 400px) {
  .Btn,
  .ActiveBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .GameDifficulty {
    height: 140px;
  }
}

@media (max-width: 625px) {
  .GameTimer {
    font-size: 18px;
    height: 50px;
  }
}
